body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: #17252A;
font-weight: 400;
}

.app-button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  background-color: #2B7A78;
  color: #FEFFFF;
  padding: 10px;
  border: 1px solid #2B7A78;
  border-radius: 5%;
  cursor: pointer;
}

.form-button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  background-color: #17252A;
  color: #DEF2F1;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #174758;
}

.divider {
  border: 1px solid rgba(163, 163, 163, 0.801);
}

.nav-button {
  background-color: #2B7A78;
  border: 1px solid #2B7A78;
  padding-left: 0;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #a0b8b6;
}

.route-title {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: #17252A;
font-weight: 600;
}

.table-head {
font-family: Verdana, Geneva, Tahoma, sans-serif;
position: sticky;
top: 0; 
background-color: #174758;
color: #FEFFFF;
text-transform: capitalize;
font-size: 15px;
}

.table-head-sub {
font-family: Verdana, Geneva, Tahoma, sans-serif;
position: sticky;
top: 0; 
background-color: #c1d6d5;
color: #17252A;
text-transform: capitalize;
font-size: 14px;
border-top: 1px solid white;
border-right: 1px solid #17252A;
text-align: center;
}


.table-cell {
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgb(82, 82, 82);
font-size: 12px;
}


/* Form styles */
.error {
color:red;
font-size: 15px;
}












